main {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 50;
  color: rgb(142, 214, 142);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
h3 {
  font-size: 20px;
  color: rgb(69, 90, 196);
}

.movie-card {
  padding: 5px;
  margin: 5px;
}
.cover-image {
  height: 300px;
}

.watchlist {
  width: 30%;
  background-color: rgb(102, 101, 101);
}

.page {
  background-color: rgb(52, 52, 52);
  width: 80%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}
 button {
  background-color: rgb(67, 211, 134);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 20px;

 }